body{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

h4 {
    font-weight: 700;
}

.pac-container.pac-logo{
    z-index:9999;
}

.reserve-btn{
    width:100%;
    max-width:180px;
}

.cursor-pointer{
    cursor:pointer;
}


a, a:hover{
    color:#9a0031;
    cursor:pointer;
}

a.text-primary, a.text-primary:focus, a.text-primary:hover{
    color:#9a0031 !important;
}

.container{
    max-width: 1300px;
}


.modal-md {
    max-width: 700px;
}


h3{
    font-size: 44px;
    font-weight: 600;
}

h6{
    font-size: 14px;
    font-weight: 600;
}

h5{
    font-size: 20px;
    font-weight: 600;
}


.btn {
    font-size: 14px;
    padding: 12px 20px;
    line-height: normal;
    font-weight: 600;
    border-radius: 0;
    outline: none !important;
    box-shadow: none !important;
}

.btn-rounded {
    border-radius: 44px !important;
    padding-left: 24px;
    padding-right: 24px;
}


/* Header start */
.main_header .desk_logo{
    width: 100%;
    max-width: 284px;
}

.main_header > .navbar{
    padding-bottom: 0;
}

.main_header .navbar-brand {
    margin-right: 0;
    display: inline-block;
    max-width: 286px;
    width: 100%;
    padding-right: 10px;
}



.header_top{
    display: flex;
    flex-wrap:wrap;
    width: 100%;
}

.crash_div {
    text-align: center;
    max-width: 215px;
    padding:8px 0;
}

.crash_div img {
   width: 100%;
    height: 100px;
    object-fit: contain;
}
.header_contact {
    font-size: 20px;
    font-weight: 500;
    margin-left: auto;
    text-align: right;
}


.header_collapse .navbar-nav .nav-link{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    opacity: 1;
}

.logob_img {
    width: 286px;
    background: #fff;
    object-fit: contain;
    padding: 0 10px;
}

.mobile_logo {
    max-width: 120px;
    width: 100%;
}

.header_mid {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 0;
}


.user_dropdown .dropdown-menu{
    left: initial;
    right: 0;
}

@media(min-width:992px){
    .mobile_logo{
        display: none;
    }
}

@media(max-width:991px){
    .desk_logo, .logob_img_li{
        display: none;
    }
    .header_contact{
        font-size: 14px;
        width:100%;
        text-align:center;
        padding:10 0px;
    }

    .crash_div {
        max-width: 180px;
    }

    .crash_div h6{
        font-size: 12px;
    }
    
}

@media(max-width:400px){
    .main_header .navbar-brand{
        max-width:initial !important;
        width: auto !important;
    }
    
}


@media(min-width:1024px){
    .main_header .navbar-brand {
        margin-bottom: -66px;
        z-index: 1;
        padding-left: 10px;
        max-width: 260px;
        position: relative;
    }

    .main_header .navbar-brand::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 26px;
        width: 100%;
        height: 40px;
        background-color: #fff;
        z-index: -1;
    }
}
/* Header end */



/* header bottom start*/
.header_bottom {
    margin-top: 30px;
}

.header_bottom .container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


.cmonimg {
    width: 100%;
    max-width: 130px;
    margin:auto;
}

@media(max-width:400px){
    .cmonimg {
        max-width:100px;
    }
}

.brands {
    display: inline-flex;
    align-items: center;
}

.brands span{
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 70px;
    font-weight: 600;
    color: #ffff;
    width: 70px;
    border-radius: 50%;
    font-size: 12px;
}

.brands i{
    margin: 0 9px;
    font-size: 16px;
}

.you_choise {
    font-size: 16px;
    font-weight: 500;
}

.you_choise i{
    margin: 0 5px;
    color: #FF0000;
}

@media(min-width:768px){

    .brands{
        margin-left: auto;
        margin-right: 20px;
    }
}
/* header bottom end*/


/* category start */

.discount_badge{
    display:inline-block;
    width:250px;
    position:relative;
}

.discount_badge .img{
    width:100%;
}


.discount_badge span {
    position: absolute;
    top: 18px;
    right: 100px;
    line-height: normal;
    font-size: 70px;
    text-shadow: 1px 0px 0px #cbb9b9;
    font-weight: 600;
    color: #fff;
}



.cat_div {
    display: block;
    position: relative;
    text-align: center;
    padding-bottom: 104px;
    height:100%;
    cursor: pointer;
    text-decoration: none !important;
    color: inherit !important;
}

.cat_bg {
    width: 100%;
    position: absolute;
    right: 0;
    max-width: 78%;
    top: 0;
    z-index: -1;
    height: 100%;
}

.discount_badge_box{
    display:flex;
    align-items:center;
}

.discount_badge_box > img{
    width: 100%;
    max-width: 145px;
}

.discount_badge_box .offno {
    font-size: 44px;
    margin-left: 10px;
    font-weight: 600;
    margin-right: 10px;
    color: #005901;
}

.discount_badge_box .offtext {
    font-weight: 900;
    font-size: 18px;
}

.categories {
    padding-top: 40px;
    padding-bottom: 40px;
}

.categories .form-row > div:nth-child(odd) .cat_title {
    color:#0b69e2;
}

.categories .form-row > div:nth-child(even) .cat_title {
    color:#8c4b1e;
}


.cat_img {
    width: 100%;
    height: auto;
}

.cat_title {
    font-size: 17px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #d7d7d7;
    bottom: 0;
    background-color: #d7d7d7d4;
    margin: 0;
    width: 115px;
    height: 115px;
}


.vip_card h5{
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}
/* category end */

.features__icon_list{
    display:inline-block;
    text-align:left;
}

.features__icon_list h5{
    
}


/* Footer top section start */



.discountimg {
    width: 100%;
    max-width: 220px;
}

.feature_img {
    width: 27px;
    height: 27px;
    object-fit: contain;
    margin-right: 12px;
}

.features_div h5{
    font-size: 16px;
}

@media(min-width:768px){

    .discountimg{
        position: relative;
        left: -61px;
    }
}

@media(max-width:767px){

    .features_div, .discountimg, .crash_div{
        margin-left: auto;
        margin-right: auto;
    }
    
    .card_section > .d-flex{
        justify-content:center;
    }
}
/* Footer top section end */


/* App section start */

.app_title_top{
    font-size: 24px;
    font-weight: 500;
}

.mobile_img{
    width: 100%;
    max-width: 260px;
}

.app_section p{
    font-size: 23px;
    font-weight: 400;
}

/* App section end */


/* Footer Start */

.footerLeftText {
    font-size: 8px;
    line-height: 14px;
    font-weight: 600;
    color: #fff;
    max-width: 370px;
    margin-top: 4px;
    margin-bottom: 4px;
}
.main_footer{
    background-color: #7DC07D !important;
}

.instagramImg img {
    width: 37px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.terms_link {
    display: inline-block;
    font-weight: 600;
    color: #000 !important;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    text-decoration: none !important;
}

.copyright_text {
    font-size: 12px;
    font-weight: 600;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.social-nav {
    padding: 0;
    list-style: none;
    display: inline-block;
    margin-top: 6px;
    margin-bottom: 0px;
}

.social-nav li {
    display: inline-block;
}

.model-3d-0 a {
    background: #5C5B5B;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.model-3d-0 a:hover {
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

.social-nav a {
    display: inline-block;
    float: none;
    width: 30px;
    height: 30px;
	margin:3px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    background: #000;
    position: relative;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}


.model-3d-0 .front, .model-3d-0 .back {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateZ(18px);
    -moz-transform: translateZ(18px);
    -ms-transform: translateZ(18px);
    -o-transform: translateZ(18px);
    transform: translateZ(18px);
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -ms-backface-visibility: visible;
    -o-backface-visibility: visible;
    backface-visibility: visible;
    color: #212121;
    font-size: 12px;
}

.model-3d-0 .back {
    -webkit-transform: rotateX(90deg) translateZ(18px);
    -moz-transform: rotateX(90deg) translateZ(18px);
    -ms-transform: rotateX(90deg) translateZ(18px);
    -o-transform: rotateX(90deg) translateZ(18px);
    transform: rotateX(90deg) translateZ(18px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
	background: #fff;
}

.model-3d-0 .front {
	color:#fff;
}
a.facebook .front {
    background: #3b5998;
}

a.twitter .front {
    background: #00acee;
}

a.instagram .front {
    background: #CD486B;
}

a.pinterest .front {
    background: #bd081c;
}



/* Footer End */



/* Step 2 Page Start */
/* ########################################### */

.placeholder_text {
    font-weight: 700;
    font-size: 24px;
    color: #b3b3b3;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.car_title{
    font-weight: 700;
    font-size: 24px;
    line-height: normal;
}
.price_div{
    display: flex;
}

.price_div del{
    position:relative;
    padding: 0px 5px;
    text-decoration:none !important;
}

.price_div del:before{
    content: "";
    height: 2px;
    width: 100%;
    display: block;
    position: absolute;
    background-color: red;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}



.price_div h3{
    font-size: 45px;
    font-weight: 600;
    line-height: normal;
}

.price_div span{
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    position: relative;
    padding-left: 10px;
    top: 13px;
}


.color_code {
    display: block;
    border: 0;
    padding: 0;
    text-align: center;
}

.color_code label{
    display: inline-block;
    margin: 0;
    padding: 0;
}

.color_code label input{
    display: none;
}

.color_code label input:checked ~ img, .color_code img.active, .color_tab.active {
    border: 2px solid #9a0031;
}


.color_code > *{
    width: 50px;
    display: inline-block;
    position:relative;
    cursor:pointer;
}

.color_code > *> img{
    width:100%;
   /*height: 25px; */
}

.color_code > *> span {
    position: absolute;
    left: 0px;
    top: 0px;
    font-weight: 600;
    width: 100%;
    color: #fff;
    text-shadow: 1px 1px #000;
    height: 100%;
    z-index: 1;
    font-size: 11px;
    line-height:normal;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color_code> img, .color_tab{
    margin: 3px;
    object-fit: cover;
    box-shadow: 0 0 9px #00000078;
    cursor: pointer;
    object-position: center center;
}


.car_list_section {
    border-bottom: 1px solid #e8e8e8;
}

.car_specification_list{
    text-align:center;
}

.car_specification_list .item{
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}

.car_specification_list .item:not(:last-child){
    margin-right: 8px;
}

.car_specification_list .item img{
    width:20px;
    height:20px;
    object-fit:contain;
}

.car_specification_list .item span{
    font-weight:500;
}


.car_specification_box {
    background-color: #F7F7F7;
    border-color: #D3D3D3;
    padding: 15px;
}

.car_specification_box .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 0;
    border-bottom: 1px solid #DDDDDD;
}

.car_specification_box .item > span{
    display: flex;
    align-items: center;
}

.car_specification_box .item > span.text-primary{
    font-weight: 600;
}

.car_specification_box .item > span > img{
    width: 16px;
}


.feature_box h6{
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
}

.feature_icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-bottom: 10px;
}

.mobile_div{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.mobile_div > h6{
    font-weight: 600;
    font-size: 20px;
}

.mobile_div > img{
    width: 170px;
}


@media(max-width:500px){
    .mobile_div > *{
        width: 100%;
    }
}
/* Step 2 Page End */
/* ############################################## */



/* Reserve Modal Start */
.form-row  > * > label, .label{
    font-weight: 500;
}

/* Reseve Modal End */


/* Login Page Start */
#registerModal .modal-dialog{
    max-width: 700px;
}

#loginModal .modal-dialog {
    max-width: 700px;
}


.loginWrapper {
    margin: auto;
    max-width: 500px;
    padding: 15px;
    border-radius: 4px;
}

a.loginLink {
    font-weight: 500;
    color: #9a0031;
    cursor:pointer;
}

.inputControl{
    position: relative;
}

.inputControl i{
    position: absolute;
    top: 12px;
    right: 0;
}

.inputControl .error{
    color:#dc3545;
    margin-bottom: 0;
    display: block;
    margin-top: 5px;
}

.inputControl input{
    padding-right: 25px;
}


.signupTitle {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.signupScreenWrapper{
    max-width: 900px;
    /*margin: auto;*/
}

.signupCardSection{
    max-width:170px;
}

.signupCardSection h5{
    font-weight:700;
    font-size:16px;
}

.signupCardSection img{
    max-width:120px;
}

.signupScreenWrapper .leftsection h5{
    font-weight:700;
}


.signupScreenWrapper .form-control, .loginWrapper .form-control{
    border: 0;
    border-radius: 0;
    line-height: normal;
    font-size: 14px;
    border-bottom: 1px solid #000;
    padding-left: 0;
    outline: none;
    box-shadow: none;
}
/* Login Page End */


/* Dashboard Page Start */
.main_wrapper{
    display: flex;
    flex-wrap: wrap;
}

.main_wrapper .main_sidebar{
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 22%);
    color: #fff;
    height: 100%;
    position: relative;
}

.main_wrapper .main_panel{
    width: 100%;
}

.sidebarLink{
    width: 100%;
    display: flex;
    align-items:center;
    font-size: 13.5px;
    color:#333;
    border-bottom: 1px solid #e3e8ea;
    padding: 12px 20px;
    padding-right: 25px;
    background: #ffffff;
    text-decoration:none !important;
    position: relative;
}

.sidebarLink.active {
    background-color: #9a0031;
    color: #fff;
}

.sidebarLink:hover {
    color:#9a0031;
}

.sidebarLink::after{
    position: absolute;
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    top:50%;
    transform: translateY(-50%);
    right: 10px;
}

.sidebarLink i{
    margin-right: 10px;
}

.edit-profile-input {
    position: relative;
    display: inline-block;
}


.edit-profile-input img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
}

.edit-profile-input i{
    position: absolute;
    right: 0;
    bottom: 12px;
    font-size: 21px;
    color: #9a0031;
}

.edit-profile-input input{
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    left: 0;
    cursor: pointer;
    top: 0;
}

@media(min-width:767px){
    .main_wrapper .main_sidebar{
        max-width: 300px;
    }
    
    .main_wrapper .main_panel{
        max-width: calc(100% - 300px);
        padding: 20px;
    }
}


/* Dashboard Page End */


/* FAQ Page Start */
.faqAccoordion .card-header{
    position: relative;
    padding-right: 40px;
    padding-left: 40px;
    font-weight: 600;
    margin-bottom: 0 !important;
    border: 0;
    border-left: 3px solid #9a0031;
    border-bottom: 1px solid #d1d1d1;
}

.faqAccoordion .card{
    border:0;
}

.faqAccoordion .card-header::before {
    content: "Q.";
    position: absolute;
    color:#9a0031;
    left: 10px;
    top: 50%;
    font-size: 20px;
    transform: translateY(-50%);
}

.faqAccoordion .card-body::before {
    content: "A.";
    position: absolute;
    left: 10px;
    color:#a6a6a6;
    top: 16px;
    font-size: 20px;
    font-weight: 600;
}

.faqAccoordion .card-header > i{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 15px;
}

.faqAccoordion .card-body{
    border-left: 3px solid #a6a6a6;
    position: relative;
    padding-left: 40px;
    font-weight: 500;
}

.faqAccoordion .card-header:not(.collapsed) > i::before{
    content: "\f068";
}

/* FAQ Page End */



/* About Page Start */
.thumb_ul > * {
    display: block;
    position: relative;
    color:#007a37;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    padding-left: 20px;
    margin-bottom: 10px;
}

.thumb_ul > * > i{
    position: absolute;
    left: 0;
    top:3px;
}


h3.sub_title {
    font-size: 24px;
    border: 1px solid #000;
    text-align: center;
    margin-left: auto;
    line-height: normal;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 50%;
    margin-right: auto;
    max-width: 200px;
    margin-bottom: 16px;
}

.vision_ol {
    font-size: 16px;
    padding-left: 20px;
    line-height: normal;
    font-weight: 500;
}

.vision_ol li{
    margin-bottom: 10px;
}

.checks_div{
    font-weight: 500;
    font-size: 14px;
}

.checks_div > *{
    font-weight: 500;
    margin-bottom: 5px !important;
}

.values_section {
    padding-top: 15px;
    background-image: url(../img/successbg.png);
    background-size: 840px;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-position-x: calc(50% - 114px);
}

.values_section .value_spacer {
    width: 100%;
    background: #638d3d;
    height: 180px;
    position: relative;
    z-index: -1;
}

@media(max-width:1200px){
    .values_section .value_spacer{
        display: none;
    }

    .values_section {
        background:none;
    }
}
/* About Page End */




/*Choose Car Page */
.bg_light{
    background-color: #f9f5f4;
}

.car_services{
    display: flex;
}

.car_services span {
    padding-left: 30px !important;
    font-weight: 600;
    font-size: 15px;
    position: relative;
    margin-bottom: 12px;
}

.car_services span > img {
    width: 20px;
    height: 25px;
    object-fit: contain;
    position: absolute;
    left: 0;
    top: 3px;
    filter: brightness(0);
}

.font-weight-medium{
    font-weight: 500;
}


.bg_light_green{
    background-color: #edfae6;
}

.driving_liecense_steps {
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    align-items: center;
    background-color: #f3f3f3;
    font-size: 14px;
    text-transform: uppercase;
}



.driving_liecense_steps > i{
    font-size: 20px;
    
}

.price_items {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    justify-content: space-between;
    margin-bottom: 8px;
}

.price_items .small{
    font-weight: 500 !important;
}
/* Choose Car Page End */