body{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.container{
    max-width: 1300px;
}


.modal-md {
    max-width: 700px;
}


h3{
    font-size: 44px;
    font-weight: 600;
}

h6{
    font-size: 14px;
    font-weight: 600;
}

h5{
    font-size: 20px;
    font-weight: 600;
}


.btn {
    font-size: 14px;
    padding: 12px 20px;
    line-height: normal;
    font-weight: 600;
    border-radius: 0;
    outline: none !important;
    box-shadow: none !important;
}

.btn-rounded {
    border-radius: 44px !important;
    padding-left: 24px;
    padding-right: 24px;
}


/* Header start */
.main_header .desk_logo{
    width: 100%;
    max-width: 284px;
}

.header_top{
    display: flex;
    flex-wrap:wrap;
    width: 100%;
}

.crash_div {
    text-align: center;
    max-width: 215px;
}

.crash_div img{
    width: 90%;
}

.header_contact {
    font-size: 20px;
    font-weight: 500;
    margin-left: auto;
    text-align: right;
}


.header_collapse .navbar-nav .nav-link{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    opacity: 1;
}

.logob_img {
    width: 286px;
    background: #fff;
    object-fit: contain;
    padding: 0 10px;
}

.mobile_logo {
    max-width: 128px;
}

.header_mid {
    width: 100%;
    display: flex;
    align-items: center;
}


@media(min-width:992px){
    .mobile_logo{
        display: none;
    }
    .crash_div{
        margin-left: 50px;
    }
}

@media(max-width:991px){
    .desk_logo, .logob_img_li{
        display: none;
    }
    .header_contact{
        font-size: 14px;
    }

    .crash_div {
        max-width: 180px;
    }

    .crash_div h6{
        font-size: 12px;
    }
}
/* Header end */



/* header bottom start*/
.header_bottom .container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


.cmonimg {
    width: 100%;
    max-width: 200px;
}

.brands {
    display: inline-flex;
    align-items: center;
}

.brands span{
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 90px;
    font-size: 14px;
    font-weight: 600;
    color: #ffff;
    width: 90px;
    border-radius: 50%;
    font-size: 14px;
}

.brands i{
    margin: 0 9px;
    font-size: 20px;
}

.you_choise {
    font-size: 16px;
    font-weight: 500;
}

.you_choise i{
    margin: 0 5px;
    color: #FF0000;
}

@media(min-width:768px){

    .brands{
        margin-left: auto;
        margin-right: 20px;
    }
}
/* header bottom end*/


/* category start */

.cat_div {
    display: block;
    position: relative;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    cursor: pointer;
    text-decoration: none !important;
    color: inherit !important;
}

.cat_bg {
    width: 100%;
    position: absolute;
    right: 0;
    max-width: 78%;
    top: 0;
    z-index: -1;
    height: 100%;
}

.cat_img {
    width: 90%;
    margin-bottom: 8px;
    object-fit: contain;
}

.cat_title {
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
}

.vip_card img{
    width: 100%;
    max-width: 200px;
}

.vip_card h5{
    font-size: 23px;
    font-weight: 600;
}
/* category end */


/* Footer top section start */

.discountimg {
    width: 100%;
    max-width: 220px;
}

.feature_img {
    width: 18px;
    margin-right: 12px;
}

@media(min-width:768px){
    .features_div{
        margin-left: auto;
    }

    .discountimg{
        position: relative;
        left: -61px;
    }
}

@media(max-width:767px){
    .discountimg{
        margin-left: auto;
        margin-right: auto;
    }

    .features_div{
        margin-left: auto;
        margin-right: auto;
    }
}
/* Footer top section end */


/* App section start */

.app_title_top{
    font-size: 24px;
    font-weight: 500;
}

.mobile_img{
    width: 100%;
    max-width: 260px;
}

.app_section p{
    font-size: 23px;
    font-weight: 400;
}

/* App section end */


/* Footer Start */

.main_footer{
    background-color: #7DC07D !important;
}

.copyright_text {
    font-size: 14px;
    font-weight: 500;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.social-nav {
    padding: 0;
    list-style: none;
    display: inline-block;
    margin-top: 6px;
    margin-bottom: 0px;
}

.social-nav li {
    display: inline-block;
}

.model-3d-0 a {
    background: #5C5B5B;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.model-3d-0 a:hover {
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

.social-nav a {
    display: inline-block;
    float: none;
    width: 30px;
    height: 30px;
	margin:3px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    background: #000;
    position: relative;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}


.model-3d-0 .front, .model-3d-0 .back {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateZ(18px);
    -moz-transform: translateZ(18px);
    -ms-transform: translateZ(18px);
    -o-transform: translateZ(18px);
    transform: translateZ(18px);
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -ms-backface-visibility: visible;
    -o-backface-visibility: visible;
    backface-visibility: visible;
    color: #212121;
    font-size: 12px;
}

.model-3d-0 .back {
    -webkit-transform: rotateX(90deg) translateZ(18px);
    -moz-transform: rotateX(90deg) translateZ(18px);
    -ms-transform: rotateX(90deg) translateZ(18px);
    -o-transform: rotateX(90deg) translateZ(18px);
    transform: rotateX(90deg) translateZ(18px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
	background: #fff;
}

.model-3d-0 .front {
	color:#fff;
}
a.facebook .front {
    background: #3b5998;
}

a.twitter .front {
    background: #00acee;
}

a.instagram .front {
    background: #CD486B;
}

a.pinterest .front {
    background: #bd081c;
}



/* Footer End */



/* Step 2 Page Start */
/* ########################################### */

.car_title{
    font-weight: 700;
    font-size: 24px;
    line-height: normal;
}
.price_div{
    display: flex;
}

.price_div h3{
    font-size: 45px;
    font-weight: 600;
    line-height: normal;
}

.price_div span{
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    position: relative;
    padding-left: 10px;
    top: 13px;
}


.color_code {
    display: block;
    border: 0;
    padding: 0;
    text-align: center;
}

.color_code label{
    display: inline-block;
    margin: 0;
    padding: 0;
}

.color_code label input{
    display: none;
}

.color_code label input:checked ~ img, .color_code img.active, .color_tab.active {
    border: 2px solid #9a0031;
    box-shadow: 0 0 9px #00000078;
}


.color_code img , .color_tab{
    width: 25px;
    height: 25px;
    margin: 3px;
    display: inline-block;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    object-position: center center;
}

.car_list_section {
    border-bottom: 1px solid #e8e8e8;
}


.car_specification_box {
    background-color: #F7F7F7;
    border-color: #D3D3D3;
    padding: 15px;
}

.car_specification_box .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 0;
    border-bottom: 1px solid #DDDDDD;
}

.car_specification_box .item > span{
    display: flex;
    align-items: center;
}

.car_specification_box .item > span.text-primary{
    font-weight: 600;
}

.car_specification_box .item > span > img{
    width: 16px;
}


.feature_box h6{
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
}

.feature_icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-bottom: 10px;
}

.mobile_div{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.mobile_div > h6{
    font-weight: 600;
    font-size: 20px;
}

.mobile_div > img{
    width: 190px;
}


@media(max-width:500px){
    .mobile_div > *{
        width: 100%;
    }
}
/* Step 2 Page End */
/* ############################################## */



/* Reserve Modal Start */
.form-row  > * > label{
    font-weight: 500;
}

/* Reseve Modal End */